@font-face{
    font-family: "ProximaNova-Bold";
    src: url("FontsFree-Net-Proxima-Nova-Bold.otf");
    font-weight: bold;
    font-style: italic;
  }
  
  @font-face{
      font-family: "ProximaNova-Regular";
      src: url("FontsFree-Net-proxima_nova_reg-webfont.ttf");
      font-weight: normal;
      font-style: italic;
    }